.login-form {
  width: 500px;
  background: gray;
  border-radius: 6px;
  margin: 10px auto;
  padding: 10px 25px;
}

.form-group{
  display:flex;
  -ms-flex:0 0 auto;
  flex:0 0 auto;
  -ms-flex-flow:row wrap;
  flex-flow:row wrap;
  -ms-flex-align:center;
  align-items:center;
  margin-bottom:0;
}